@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: 'Fira Code';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D172B;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue-button {
  background: #3730a3;
  border-radius: 12px;
  height: 40px;
  color: white;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-family: "Fira Code";
  padding: 2px 12px;
}

.blue-button:hover {
  cursor: pointer;
  color: rgb(223, 223, 223);
}
